.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0b0c10;

}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.error{
  color: red;
}

.auth-form-container{
  padding: 5rem;
  border: solid #c5c6c7;
  border-radius: 5px;
  background-color: #1f2833;
}

label {
  font-weight: 500;
  text-align: left;
  padding: 0.25rem 0;
  color: #66fcf1;
}

input{
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

h1,p{
  color: white;
}

button {
  border: none;
  background-color: #0b0c10;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.logout-btn {
background-color: white;
color: #0b0c10;
font-weight: bold;
}

.link-btn {
  background: none;
  color: #c5c6c7;
  text-decoration: underline;
}